@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*
{
    transition: all 0.3s ease-in-out;
    font-family: "Poppins",sans-serif ;
}
// HTML SCROLL SMOOTH
html
{
    scroll-behavior: smooth;
}

// SCROLLBAR
/* width */
::-webkit-scrollbar {
    width: 8px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 146, 0.76);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.upwardToggler
{
    position: fixed !important;
    right: 0;
    bottom: 5%;
    z-index: 200;
    padding: 5px;
    background-color: slategray;
    border-radius: 10px;

    &:hover 
    {
        transform: translateY(-10px);
    }
}

// NAVBAR

.pointcard
{
    & .max-w-xs
    {
        background: linear-gradient(to right, #CAA347, #DCC080);
    }
    & h2 
    {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 0px 2px 0px  #c78f0c;
    }
    & h5 
    {
        color: white;
        text-shadow: 0px 2px 0px  #c78f0c;
    }
    & h1 
    {
        color: white;
      
        text-shadow: 0px 2px 0px  #c78f0c;
    }
}

// MAINWRAPPER
.whitewrapper
{   
    margin-top: -4rem;
    
    // LEADERBOARD
    & .leaderboard
    {
      
        & .leaderboard-wrapper
        {
            position: relative;
            max-width: 750px !important;
    
            & .top-lead
            {
                & .svg1 
                    {
                        position: absolute;
                        top: 0;
                        opacity: 10%;

                    }
                & .svg2
                {
                    position: absolute;
                    bottom: 0;
                    opacity: 10%;
                }   
                & h1,h2,img
                {
                    z-index: 10;
                }
                & .top-2 img
                {
                    border: 5px solid rgba(153, 153, 153, 0.801);
                }
                & .top-1 img
                {
                    border: 6px solid rgba(220, 187, 2, 0.808);
                }
                & .top-3 img
                {
                    border: 5px solid rgba(218, 158, 80, 0.803);
                }
            }
            & .top-five
            {
                & .mt-3
                {
                    background-color: rgba(30, 98, 147, 0.194);
                    border-radius: 10px;
                    padding: 5px;
                }
                & img 
                {
                    z-index: 10;
                }
            }
           
            
  
          
        }
    }

    // PROFILE
    & .profile
    {
        &-wrapper
        {
            position: relative;
            max-width: 750px;
            margin: auto;
            
            & h4 
            {
                position: absolute;
                top: 3%;
               
            }
            & #wave 
            {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 10%;
                z-index: 5;
                transform: rotate(180deg) !important;
            }
           
            & .left
            {   
                z-index: 20;
                max-width: 210px;
                position: relative;
                & a 
                {
                    display: none;
                }
                & img 
                {
               
                    max-width: 210px;
                    box-shadow: 0px 0px 10px #08388b7f;
                }
                
                & i 
                {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    cursor: pointer;
                    width: 100%;
                    background-color: #215fca;
                    &:hover
                    {
                        background-color: #033da2;
                    }
                }
                & input 
                {
                    display: none;
                    z-index: 40;
                }
            }

            & .right
            {
                z-index: 50;
                & button
                {
                  
                    z-index: 50;
                    background-color: #215fca;
                    &:hover 
                    {
                        
                        background-color: #033da2;  
                    }  
                }
                & input,select 
                {
                   border: none !important;
                    background-color: transparent;
                }
              
              
            }
        }
    }
    // NEWS
    & .news
    {
        &-wrapper
        {
            
            max-width: 750px;
            margin: auto;
            position: relative;
            & img 
            {
                display: block;
            }
            & a 
            {

                
                position: absolute;
                top: 40%;
                left: 0;
                right: 0;
                padding: 1px;
                background-color: black;
              
            }
           
            
        }
    }   
    // NEWS 
    & .logs
    {
        &-wrapper
        {
            max-width: 750px;
            margin: auto;
           
        }
    }
   
}


// MODAL

.claim-modal
{
 & .containers
 {
    & img
    {
        &:hover{
            transform: scale(1.04) !important;
        }
    }
   
 }
 
}



//  MEDIA QUERY
@media only screen and (max-width: 768px) {
    .leaderboard
    {
        margin: auto;
        max-width: 95%; 
    }
    .profile
    {
        margin: auto;
        max-width: 95%;
        & .left 
        {
            margin: auto;
        }
    }
    .news{
        margin: auto;
        max-width: 95%;
    }
    .logs{
        margin: auto;
        max-width: 95%;
    }
}
