@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
* {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins",sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.76);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.upwardToggler {
  position: fixed !important;
  right: 0;
  bottom: 5%;
  z-index: 200;
  padding: 5px;
  background-color: slategray;
  border-radius: 10px;
}

.upwardToggler:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.pointcard .max-w-xs {
  background: -webkit-gradient(linear, left top, right top, from(#CAA347), to(#DCC080));
  background: linear-gradient(to right, #CAA347, #DCC080);
}

.pointcard h2 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 0px 2px 0px  #c78f0c;
}

.pointcard h5 {
  color: white;
  text-shadow: 0px 2px 0px  #c78f0c;
}

.pointcard h1 {
  color: white;
  text-shadow: 0px 2px 0px  #c78f0c;
}

.whitewrapper {
  margin-top: -4rem;
}

.whitewrapper .leaderboard .leaderboard-wrapper {
  position: relative;
  max-width: 750px !important;
}

.whitewrapper .leaderboard .leaderboard-wrapper .top-lead .svg1 {
  position: absolute;
  top: 0;
  opacity: 10%;
}

.whitewrapper .leaderboard .leaderboard-wrapper .top-lead .svg2 {
  position: absolute;
  bottom: 0;
  opacity: 10%;
}

.whitewrapper .leaderboard .leaderboard-wrapper .top-lead h1, .whitewrapper .leaderboard .leaderboard-wrapper .top-lead h2, .whitewrapper .leaderboard .leaderboard-wrapper .top-lead img {
  z-index: 10;
}

.whitewrapper .leaderboard .leaderboard-wrapper .top-lead .top-2 img {
  border: 5px solid rgba(153, 153, 153, 0.801);
}

.whitewrapper .leaderboard .leaderboard-wrapper .top-lead .top-1 img {
  border: 6px solid rgba(220, 187, 2, 0.808);
}

.whitewrapper .leaderboard .leaderboard-wrapper .top-lead .top-3 img {
  border: 5px solid rgba(218, 158, 80, 0.803);
}

.whitewrapper .leaderboard .leaderboard-wrapper .top-five .mt-3 {
  background-color: rgba(30, 98, 147, 0.194);
  border-radius: 10px;
  padding: 5px;
}

.whitewrapper .leaderboard .leaderboard-wrapper .top-five img {
  z-index: 10;
}

.whitewrapper .profile-wrapper {
  position: relative;
  max-width: 750px;
  margin: auto;
}

.whitewrapper .profile-wrapper h4 {
  position: absolute;
  top: 3%;
}

.whitewrapper .profile-wrapper #wave {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 10%;
  z-index: 5;
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.whitewrapper .profile-wrapper .left {
  z-index: 20;
  max-width: 210px;
  position: relative;
}

.whitewrapper .profile-wrapper .left img {
  max-width: 210px;
  -webkit-box-shadow: 0px 0px 10px #08388b7f;
          box-shadow: 0px 0px 10px #08388b7f;
}

.whitewrapper .profile-wrapper .left i {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  background-color: #215fca;
}

.whitewrapper .profile-wrapper .left i:hover {
  background-color: #033da2;
}

.whitewrapper .profile-wrapper .left input {
  display: none;
  z-index: 40;
}

.whitewrapper .profile-wrapper .right {
  z-index: 50;
}

.whitewrapper .profile-wrapper .right button {
  z-index: 50;
  background-color: #215fca;
}

.whitewrapper .profile-wrapper .right button:hover {
  background-color: #033da2;
}

.whitewrapper .profile-wrapper .right input, .whitewrapper .profile-wrapper .right select {
  border: none !important;
  background-color: transparent;
}

.whitewrapper .news-wrapper {
  max-width: 750px;
  margin: auto;
  position: relative;
}

.whitewrapper .news-wrapper h4 {
  position: absolute;
  top: 0;
  z-index: 100;
}

.whitewrapper .news-wrapper .carousel-container a {
  position: absolute;
  bottom: 0;
  font-weight: 800;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-shadow: 0px 0px 20px #0b121e;
  opacity: 0;
  cursor: pointer;
}

.whitewrapper .news-wrapper .carousel-container a p {
  font-weight: 100;
}

.whitewrapper .news-wrapper .carousel-container a:hover {
  opacity: 100%;
}

.whitewrapper .logs-wrapper {
  max-width: 750px;
  margin: auto;
}

.claim-modal .containers img:hover {
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
}

@media only screen and (max-width: 768px) {
  .leaderboard {
    margin: auto;
    max-width: 95%;
  }
  .profile {
    margin: auto;
    max-width: 95%;
  }
  .profile .left {
    margin: auto;
  }
  .news {
    margin: auto;
    max-width: 95%;
  }
  .logs {
    margin: auto;
    max-width: 95%;
  }
}
/*# sourceMappingURL=maintailwind.css.map */