@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@1,900&display=swap");

.prize-wrapper{
    display: flex;
    justify-content: space-between;
    
}
.box a
{
    color: white;
}
.box .indexslideshow-box
{
    display: flex;
    width: 1100px;
    margin: 0 auto;
}

.box .indexbox-wrapper
{
    width: 100%;
   
    margin: 0px auto;
    height: 25rem;
    overflow: hidden;

}
.box .indexbox-wrapper .indexprizebox
{
    display: flex;
    flex-basis: 80%;
    height: 400px;
    width: 100%;
    
    margin-left: 0.2rem;
}
.box .indexbox-wrapper .indexprizebox img
{

    margin-left: 0.2rem;
 
 
}
.prize-wrapper .slide-description{
    flex-basis: 30%;
}
.slide-description{
    margin-left: 20px;
    text-align: justify;
    text-justify: inter-word;
}
.power-grid
{
    border: 2px #1f5253;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
}
.power-grid:hover{
    transform: scale(1.02);
}


/* PROFILE */
.profile{
    max-width: 1100px;
    margin: 0 auto 200px;

}
.profile div{
    font-family: "Poppins", sans-serif;
}
.profile button{
    background-color: #146356;
    color:  #d8e4d3;
    font-family: "Poppins", sans-serif;
    border: none;
}
.profile button:hover{
    background-color: #146356;
}
.profile .card-header{
    background-color: #146356;
    color:  #d8e4d3;
    font-size:x-large;
}

/* NEWS TITLE DESCRIPTIONS */
.indexprizebox H2{
    font-family: "Poppins",sans-serif;
    text-align: center;
    margin-top: 80px;
    font-weight: 600;
    margin-bottom: 1.05rem;
    color:  #d8e4d3;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);
    width: 95%;
}
.indexprizebox H3{
    margin-top: 40px;
    font-family: "Poppins",sans-serif;
    text-align: justify;
    color:  #d8e4d3;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);
}
.indexprizebox p{
    font-family: "Poppins",sans-serif;
    text-align: justify;
    text-justify: inter-word;
    width: 95%;
    color:  #d8e4d3;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);
}
.indexprizebox{
    background-color: #146356;
    /* background-image: linear-gradient(to left,#0bab64,#3bb78f)   */
}

form input[type = submit]{
    background-color: #67BB6A;
    color:  whitesmoke;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
form input[type = submit]:hover{
    background-color: #61ac64;
    color:  whitesmoke;
}

.btn-primary {
    background-color: #61ac64;
}






