
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.footer{
   
    width: 100%;
    overflow: hidden;
    background-color: #146356;
    .footer-wrapper{
        width: 60%;
        margin: auto;
        display: flex;
        
        justify-content: space-between;
        &.footer-wrapper img{
            width: 15rem;
            cursor: pointer;
        } 
    }


    .footer-icons{
        width: 240px;
       
        &.footer-icons li a {
            color: #d8e4d3;
        }
        &.footer-icons li a {
            color: #d8e4d3;
            font-family: 'Poppins', sans-serif;
        }
        &.footer-icons li a:hover {
            color: hover;
        }
        &.footer-icons ul {
            list-style: none;
            display: flex;
        
        }
        &.footer-icons ul li{
            text-decoration: none;
            
           
        }
    }
    .footer-socials{
        display: flex;
        justify-content: space-between;
    }
    .footer-socials li{
        gap:0.1rem;
    }


   .footer-quick-links{
    width: 240px;
    margin-top: 2.5rem;
        &.footer-quick-links ul{
            list-style: none;
            line-height: 1.5;
        }
        &.footer-quick-links li a{
            font-family: "Poppins",sans-serif;
            list-style: none;
            text-decoration: none;
            color: #d8e4d3;
            font-size: 0.8rem;
        }
        &.footer-quick-links li a:hover{
         
            color: white
        
           
        }
   
        &.footer-quick-links ul p{
            font-family: "Poppins",sans-serif;
            font-size: large;
            color: #d8e4d3;
            font-weight: 800;
            font-size: 1.2rem;
        }   
   }  
 
  
}


.copy-right{
    width: 100%;
    background-color:#146356;
    overflow: hidden;
    &.copy-right p {
        font-family: "Poppins",sans-serif;
        font-size: 0.6rem;
        color: #d8e4d3;
        margin-left: 20px;
    }
    .copy-wrapper{
        width: 90%;
        margin: 0 auto;
        align-items: center;
     
    }
}