@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif !important;
    background-color: #fbfbfb;
    
}

/* NAVBAR */
.nav-main{
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.637);
    margin: auto;
    background-color:  #151c26;
}

.navbar{
    width: 70%;
    margin: 0 auto;

}
.navbar-nav .nav-item a{
    color: #fbfbfb !important;
    font-size: 17.6px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 1rem;
}

.navbar-nav .nav-item a:hover{
    color: #bdbdbd !important;
    font-size: 1.1rem;
    font-weight: 600;

}

.navbar-nav{
    align-items: end !important;
}

.navbar .navbar-toggler {
    color:transparent !important;
    border: none;
}
.nav-main img{
    width: 48px;
}

.bar{
    display: block;
    width: 32px;
    height: 3px;
    background-color: #fbfbfb;
    color: wheat;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}



.title-card{
    width: 100%;
    padding-top: 80px;
    background-color: #ffffff;
}

.title-card-wrapper{
    max-width: 1134px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    flex-direction: row;

}
.title-card h1{
    color: #28e687;
    font-family: "Poppins", sans-serif;
    font-weight: 800; 
   
  
}
.title-card h3{
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 400;
}

.card-content-box{
    display: flex;
    justify-content: space-between;
    max-width: 1134px;
    margin: 0 auto;
    flex-direction: row;
    gap: 5px;
}
.card-content-box h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #8a39e1;
    padding-top: 10px;
    margin: 0 40px 0;
    padding-bottom: 10px;
}
.card-content-box p{
    font-family: "Poppins", sans-serif;
    font-weight: 200; 
    color: rgb(27, 32, 59);
    font-style: normal;
    font-size: 20px;
    justify-content: justify;
    margin: 0 40px 0;
    padding-bottom: 10px;
}
.card-content img{
    width: 200px;
    height: 200px;
    margin: 0 50px;
}
.card-box{
    padding: 10px;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(160, 160, 160, 0.651);
    align-items: center;
    flex: 1;
    transition: all 0.89s ease-in-out;
}
.card-content{
    padding-bottom: 80px;
    outline: none;
    border: none;
}
.card-box:hover{
    transform: scale(1.05);
} 

/* ABOUT US */

.about-us{
    padding-top: 300px;
    max-width: 1134px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;

}
.about-us-wrapper{
    
    margin: 0 auto;
}
.about-us h1{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 1000; 
    color: rgb(27, 32, 59);
    text-shadow: 2px 2px 1px gray;
}
.about-us p{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: justify;
  text-justify: inter-word;
} 

/* CONTACT */
.contact-us {
    width: 100%;
    padding-top: 200px;
    
}
.contact-us-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}
.contact-us img{
    width:500px;
}
.form-group{
    margin-top: 10px;
}
.form-group h3{
    font-family: "Poppins", sans-serif;
}
.form-group h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #0d6ae4;
    text-shadow: 1px 1px 2px gray;
}
.form-group label {
    font-family: "Poppins", sans-serif;
}
.form-group button
 {
    font-family: "Poppins", sans-serif;
} 

/* NEWS */

.news{
    padding-top: 8rem;
    width: 100%;
}
.news-wrapper{
    background-color: #ececec59;
    width: 60%;
    margin: auto;
    height: auto;
    margin-bottom: 5rem;
    padding-bottom: 15rem;
}
.news-wrapper img{
    width: 100%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #e0e0e0;
}
.news-wrapper h1{
    padding-top: 1.4rem;
}
.news-wrapper h1, h3{
    text-align: center;
    font-weight: 800;
}
.news-wrapper p{
    padding-top: 1rem;
    width: 90%;
    margin: auto;
    text-align: justify;
}



@media only screen and (max-width:800px){
    .nav-main{
        width: 100%;
    }
    .navbar{
        width: 100%;
        margin: 0 auto;
    }
    .navbar img{
        width: 35px;
    }
    .contact-us{
        padding-bottom: 5rem;
        padding-top: 100px;
    }
    .contact-us-wrapper{
        width: 80%;
        flex-direction: column;
        margin: auto;
    }

    .contact-us img{
        width:100%;
        margin: auto;
    }
        
    .title-card{
        width: 100%;
    }
    .title-card img{
        width: 100%;
      
    }

    .title-card-wrapper{
        max-width: 1134px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px;
        flex-direction: column;
        display: inline-block;

    }
    .title-card-text{
        width: 80%;
        margin: auto;
    }
    .title-card h1{
        color: #28e687;
        font-family: "Poppins", sans-serif;
        font-weight: 800; 
        font-size: 2rem;
    

    }
    .title-card h3{
        font-family: "Poppins", sans-serif;
        text-align: justify;
        font-style: italic;
        padding-bottom: 20px;
    }

    .card-content-box{
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: 0 auto;
        flex-direction: column;
        gap: 18px;
    }
    .card-content-box h3{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: #8a39e1;
        padding-top: 10px;
        margin: 0 40px 0;
        padding-bottom: 10px;
    }
    .card-content-box p{
        font-family: "Poppins", sans-serif;
        font-weight: 200; 
        color: rgb(27, 32, 59);
        font-style: normal;
        font-size: 20px;
        justify-content: justify;
        margin: 0 40px 0;
        padding-bottom: 10px;
    }
    .card-content img{
        width: 200px;
        height: 200px;
        margin: 0 50px;
    }
    .card-box{
        padding: 10px;

        border-radius: 15px;
        box-shadow: 8px 8px 15px rgba(160, 160, 160, 0.651);
        align-items: center;
        flex: 1;
        transition: all 0.89s ease-in-out;
    }
    .card-box:hover{
        transform: scale(1.05);
    } 


    .about-us{
        padding-top: 100px;
        flex-direction: column-reverse;
    }
    .about-us img{
        width: 100%;
    }
    .about-us p{
        font-family: "Poppins", sans-serif;
        font-size: 17px;
        text-align: justify;
        text-justify: inter-word;
        width: 90%;
        margin: 0  auto;
        padding-bottom: 5rem;
    }
    
    /* NEWS */

    .news{
        padding-top: 8rem;
        width: 100%;
    }
    .news-wrapper{
        background-color: #ececec59;
        width: 100%;
        margin: auto;
        height: auto;
        margin-bottom: 5rem;
        padding-bottom: 15rem;
    }
    .news-wrapper img{
        width: 95%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: 1px solid #e0e0e0;
    }
    .news-wrapper h1{
        padding-top: 1.4rem;
    }
    .news-wrapper h1{
        text-align: center;
        font-weight: 800;
        width: 90%;
        margin: auto;
        font-size: 1.5rem;
    }
    .news-wrapper h3{
        text-align: center;
        font-weight: 800;
        width: 90%;
        margin: auto;
        font-size: 1rem;
    }
    .news-wrapper p{
        padding-top: 1rem;
        width: 90%;
        margin: auto;
        text-align: justify;
}



}


/* 

@media only screen and (max-width: 700px){
 
.nav-main{
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color:  #151c26;
}

.navbar{
    background-color:  #151c26;
    max-width: 90%;
    margin: 0 auto;

}
.navbar-nav .nav-item a{
    color: #d1d1d1 !important;
    font-size: 1.1rem;
    font-weight: 600;

}

.navbar-nav .nav-item a:hover{
    color: #bdbdbd !important;
    font-size: 1.1rem;
    font-weight: 600;

}

.navbar-nav{
    align-items: end !important;
}

.navbar .navbar-toggler {
    color:transparent !important;
    border: none;
}
.nav-main img{
    width: 30px;
}

.bar{
    display: block;
    width: 32px;
    height: 3px;
    background-color: #fbfbfb;
    color: wheat;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}





.title-card{
    width: 100%;
    margin: auto;
    margin-top: 7rem;
    
}
.title-card img {
    width: 80%;
  
}
.title-card-wrapper{
    margin-top: 65rem;
    width: 80%;
    margin: auto;
    display: grid;
    background-color: yellow;
   
    align-items: center;
    flex-direction: column;
   
}
.title-card h1{
 
    color: #28e687;
    background-color: yellow;
    font-family: "Poppins", sans-serif;
    font-weight: 800; 
    text-align: center;
    text-shadow: 1px 1px 2px rgb(41, 41, 41);
}
.title-card h3{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.card-content-box{
    display:grid;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto !important;
    flex-direction: column;
   
}
.card-content-box h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #8a39e1;
    padding-top: 10px;
    margin: 0 !important;
    padding-bottom: 10px;
}
.card-content-box p{
    font-family: "Poppins", sans-serif;
    font-weight: 200; 
    color: rgb(27, 32, 59);
    font-style: normal;
    font-size: 1rem;
    justify-content: justify;

    padding-bottom: 10px;
}
.card-content img{
    width: 180px;
    height: 180px;
  
}
.card-box{
    padding: 0px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(160, 160, 160, 0.651);
    align-items: center;
    flex: 1;
    width: 85;
    margin: auto;
    transition: all 0.89s ease-in-out;
}
.card-box:hover{
    transform: scale(1.05);
}






    


} */