.garbagetype-wrapper
{
    border: 1px solid rgb(0, 161, 205);
    border-radius: 5px;
    background: #E9DAC1;
}
.news-box
{
    border: 1px solid rgb(0, 161, 205);
    border-radius: 5px;
}
.boxnewstitle
{
    border: 1px solid rgb(0, 161, 205);
    background-color: rgb(0, 161, 205);
    color: white;
    text-align: center;
}
.garbage-contents
{
    width:95%;
    overflow: auto;
    max-height: 40rem;
    height: 40rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 161, 205);
    border-radius: 5px;
    background:white;
}
.garbagebox
{
    display: inline-block;
    background: #d9b48fff;
    margin-left: 1.5rem;
    margin-top: 1rem;
    height: 20rem;
    width: 15rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    border: 2px solid #767676;
}
.buttonactions
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.buttonaction
{
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.25rem;
    background-color: rgb(0, 161, 205);
    color: white;
    border-radius: 5px;
    border: 2px solid #767676;
}
.newsdescription
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;
}
.addgarbagetype
{
    font-size: 1.2rem;
    padding: 0.25rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
    background-color: rgb(0, 161, 205);
    color: white;
    border-radius: 5px;
    border: 2px solid #767676;
}
